body {
  background-image: url(/1x/Asset\ 43.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 300px;
}

.logo {
  padding: 3% 0 0 5%;
}

.logos {
  background-color: white;
}

.textwhite {
  color: white;
}

.bigtext{
  letter-spacing: 40px;
  font-size: 93.5;
  font-weight: 750;
}

.line {
  height: 20px;
  width: 100%;
  background-color: white;
}

.leftpart {
  padding-left:9%; 
}

.quote {
  margin-left: -25px;
}

.rightpart {
  margin-top: -150px;
}

.burger {
  position: absolute;  
}

.indenttext {
  padding: 50px 0 0 90px;
  font-size: 19px;
  color: #afafaf;
}

.container {
  padding: 20px;
  max-width: 100%;
}

.colpad {
  padding-right: 70px;
}

.main {
  margin-top: 600px;
  margin-bottom: 150px;
}

.darkbg {
  background-color: #212121;
  color: white;
  padding: 0 30%;
}

.culture {
  background-color: #212121;
  padding: 0 15%;
}

.dark {
  background-color: #212121;
}

input[type=text], .textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
}

.svg {
  height: 50px;
  width: 50px;
}

.svgl {
  height: 80px;
  width: 80px;
}

.svgs {
  height: 24px;
  width: 24px;
}

.footer {
 padding: 0 25%;
}

.footersocial {
  padding: 0 40%;
 }